.row{
	display:flex;
	flex-wrap:wrap;
}
.container{
	margin:0 auto;
	width:90%;
}
img{
	width:100%;
	
}
.col{
	padding:10px;
	border:1px solid  #d9d9d9;
	margin:4px;
	width:22.5%;
	margin-bottom: 41px;
}


.flex{
	display:flex;
	justify-content:space-between;
	border-bottom:1px solid #cccccc;
}
.rat-content{
	background-color: #4dff4d;
	 
}
.add{
	display:flex;
	
}
.add1{
	margin-left: 12px;
    background-color: #378739;
    color: white;
    height: 20px;
    padding: 11px;
	margin-top:10px;
	align-items:center;
}
i{
	padding:8px;
	margin-top:10px;
}
input{
	width:10%;
	outline:none;
}
.incre{
	text-align:center;
	margin-top:10px;
}
